body{
  min-width:100vw ;
}  
  
  .navbar {
    background: white;
    border-bottom: 0.0625rem solid #e0e0e0;
    flex-shrink: 0;
    line-height: 1.7em;
    position: fixed;
    top: 0;
    transform: none;
    width: 100%;
    z-index: 986;
    
    

  }

  .navContent {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100vw;
    
  }

  .nav-left{
    display: flex;
  
    justify-content: space-between;

  min-width: 40vw;
  }

  .navLogo{
    height: 4rem;
    align-items: center;
    display: flex;
    flex-direction: row;
  }
  .hamburger{
    border: none;
    outline: none;
    background-color: transparent;
    fill: currentColor;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    z-index: 0;
    overflow: visible;
    margin-left: 20px;
    font-size: 24px;
    width: 48px;
    height: 48px;
    padding: 12px;
    margin-right: 15px;
  }
  .hamburger:hover{
    border-radius: 50%;
    background-color: ghostwhite;
  }
  .googleLogo {
    padding-top: 0.625rem;
  }
  .classroomText {
    color: #5f6368;
    font-family: "Product Sans",Arial,Helvetica,sans-serif;
    font-size: 1.4rem;
    position: relative;
    top: -0.375rem;
    left:-0.3rem;
    
  }
  .addSymbol{
    border: none;
    outline: none;
    background-color: transparent;
    fill: currentColor;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    z-index: 0;
    overflow: visible;
    margin-left: 20px;
    font-size: 24px;
    width: 48px;
    height: 48px;
    padding: 12px;
    margin-right: 15px;
    margin-bottom:15px ;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .addSymbol:hover{
    border-radius: 50%;
    background-color: ghostwhite;
  }

  .squareIcon{
    margin-top: 10px;
    width: 30px;
    height: 30px;
  }


  .icon{
    border-radius: 50%;
    margin: 20px;
    margin:0 30px;
    height: 45px;
    width: 45px;
  }

  .navContainer {
    display: flex;
flex: 1;
 }

  .streamName h3{
  margin: 0;
  margin-top: 10px;
  padding: 0;
  line-height: 15px;
  color: #5f6368;
  min-width: 500px;
  }
  .streamName p{
  margin: 0;
  color: #5f6368;
  padding: 0;
  }
  
/* Add styles for the search bar */
.midNav {
  display: flex;
  align-items: center;
  min-width:300px; 
  
}

/* You can style the input element further if needed */
.midNav input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;

}
.rightNav{
  display: flex;
}

.navButton{
line-height: 1rem;
border: null;
border:none;
background-color: transparent;
font-size: 15px;
font-weight: 600;
color: #5f6368;
}

.line.active{
  background-color: black;
  color: transparent;
  line-height: 2px;
}

.classwork{
  margin-top:50px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 244px;
  position: absolute;
  right: 8vw;
}


.aside{
  
}
.topics{
  list-style: none; 
  font-weight: 600;
}
.topic{
  list-style: none; 
  font-weight: 200;
  margin: 20px 0px;
  color: #5f6368;

}
.navAbove{
  width:700px;
display: flex;
justify-content: space-between;
margin-top:80px;
margin-left: 33%;
text-align: center;
}

.navLeft{
  display: flex;
  gap: 20px;
  text-align: center;
}
.navText{
  margin-top: 50px;
}


.category{
  list-style: none;
  margin-left: 0;
  
  

}
.line.cat{
  background-color: black;
  color: transparent;
  line-height: 1px;
  padding-right: 700px;
  
}

.assignmentsLogo{
  height: 30px;
  width: 30px;
  margin-left: 5px;
}
.logoContainer{
  height: 40px;
  width: 40px;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  fill:aliceblue;
}

.singlePost{
  margin-top: 10px;
  display: flex;
  text-align: center;
}

.assMat{
  padding-left: 16px;
  list-style: none; 

}

.title{
  margin-left: 16px;
  font-size: 32px;
  margin-bottom: 10px
}

.assMat.text{
  margin-top: 13px;
  color: #5f6368;
}

/* Media query for smaller screens */
/* @media (max-width: 768px) {
  .navContent {
    flex-direction: column;
  }

 
  .midNav {
    min-width: auto;
    margin-top: 20px;
  }

  .rightNav {
    display: none;
  }



 
  .navAbove {
    width: 100%;
    margin-left: 0;
  }

  .navLogo {
    justify-content: center;
  }



  .navContainer {
    padding-left: 20px;
    padding-right: 20px;
  }
} */

/* Media query for medium screens */
/* @media (max-width: 1700px) {
  .navContainer {
    padding-left: 40px;
    padding-right: 40px;
  }
  .categories {
    margin-left: 230px;
  }
  .line.cat{
    margin-left: 240px;
  }
} */